body {
  background-color:rgba(112, 128, 144);
  color: aliceblue;
  font-family: 'Permanent Marker', cursive;
  margin: 0;
  padding: 0;
  position: relative;
}

header {
  background-color: rgb(82, 0, 130);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

nav {
  background-color: rgba(54, 87, 0, 0.731);
  bottom: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  z-index: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: rgba(54, 87, 0, 0.731);
}

li a {
  display: block;
  color: #000000;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: underline;
  margin-right: 1em;
}

main {
  padding: 1em;
}

section {
  margin-bottom: 1em;
}

footer {
  background-color: rgb(82, 0, 130);
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  clear: both;
  z-index: 0;
  position: relative;
}

.clip {
  width: 200px;
  height: 200px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  overflow: hidden;
}

.whole{
  display: flex;
}

.clip-triangle img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.center-section{
  text-align: center;
}

#sclogo{
  width: 150px;
  height: 150px;
  margin-right: 20px;
  float: left;
}

#amazon{
  width: 150px;
  height: 150px;
  margin-right: 20px;
  float: left;
}

#dice{
  width: 150px;
  height: 150px;
  margin-right: 20px;
  float: left;
}

#compost{
  width: 150px;
  height: 150px;
  margin-right: 20px;
  float: left;
}